
.create-chat-container {
  background-color: #6200EE;
  color: white;
  padding: 22px;
  box-shadow: 2px 2px 5px gray;
}

.text {
  display: flex;
  justify-content: center;
  margin: 78px;
  margin-top: 128px;
}

.create-button {
  background-color: #03DAC5 !important;
}

.tips-text {
  font-weight: bold;
}
