
.create-chat-container {
  background-image: linear-gradient(to right, #311B92, #651FFF);
  color: white;
  padding: 22px;
  box-shadow: 2px 2px 5px gray;
}

.text {
  display: flex;
  justify-content: center;
  margin: 78px;
  margin-top: 128px;
}

.create-button {
  background-color: #4FC3F7 !important;
  font-weight: bold;
  border: 0.1px solid gray;
  box-shadow: 1px 1px 1px black;
  border: 0.5px solid #00B0FF;
}

.create-button:hover {
  background-color: #01579B !important;
  border: 0.5px solid #01579B;
}

.tips-text {
  font-weight: bold;
}

.create-chat-text {
  font-size: 31px;
}
