
.message-section {
  display: block;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  border-radius: 2px;
}

.col-overflow {
  overflow: hidden;
}

.input-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 32px 32px;
  box-shadow: 1px 1px 2px black;
  background-image: linear-gradient(to right, #757575 , #EEEEEE);
}

.speech-bubble {
	position: relative;
	border: 15px solid transparent;
  margin: 16px;
  padding: 16px;
  width: 300px;
  border-radius: 10px;
  background-color: #EEEEEE;
  font-weight: 600;
  color: #212121;

  &.self {
  background-color: #81D4FA;
  font-weight: 600;
  color: #212121;
  }
}

.snack-list {
  list-style: none;
}

.chat-container {
  height: 100%;
  background-color: #424242;
}

.snack-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 10;
}

.snack-box {
  background-color: white;
  padding: 38px;
  background-image: linear-gradient(to right, #311B92, #651FFF);
  box-shadow: 1px 1px 5px black;
}

.display-3 {
  color: white;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 36px;
  padding: 8px;
}

.send-message-button {
  background-color: #2979FF !important;
  border: 1px black;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.send-message-button:hover {
  background-color: #01579B !important;
}

.chat-header {
  height: 96px;
  overflow: hidden;
}

.chat-footer {
  height: 96px;
  overflow: hidden;
}

.chat-main {
  height: calc(100vh - 96px * 2);
  overflow: hidden;
}
